---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Welcome</h1>
		<p class="mb-4">
			Currently a Senior Software Engineer at <a href="https://yomigames.gg/">Yomi Games</a>. I
			steer companies from seed to series A and beyond where I lead or support both technical and
			non-technical product decisions. I enjoy teams that can make decisive, educated guesses that
			solve today's problems. My day tools are Node, Typescript, and the usual cloud offerings. I
			like to tinker with OCaml, F#, and other ML-based languages, and have attempted to love
			Haskell a few times.
		</p>
		<p>Outside of tech, I'm a dance hobbyist. Join me for hip-hop or house dance classes in NYC!</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
