---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About"
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Work</h1>
		<p>Teams I've worked with</p>
		<ul class="list-inside list-disc">
			<li>WeeLabs, curate-2-own NFT marketplace (cofounded but departed)</li>
			<li><a href="https://www.kraken.com/">Kraken</a>, NFT marketplace</li>
			<li><a href="https://canopyservicing.com/">Canopy Servicing</a>, ledger and payments engine</li>
			<li><a href="https://www.mountsinai.org/">Mount Sinai Digital Consumer</a>, consumer portal</li>
			<li><a href="https://www.kbb.com/">Kelley Blue Book</a>, www</li>
			<li><a href="https://www.experian.com/business/">Experian</a>, b2b www</li>
		</ul>
	</div>
</PageLayout>
